/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


#div-content{  
    position:absolute;
    top:90px;
    width:100%;
    height:100%;

}

.button{
    font-size:18px;
    transition: all .1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    border-color:black;
    border-style: solid;
    border-radius: 10px;
    color:white;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

form{
    width:fit-content;
    height:fit-content;
}

h1{
    width:fit-content;
    height:fit-content;
}

#div-table-and-buttons{
    width:fit-content;
    margin:0 auto;
}

.noMajorButton,.yesMajorButton{
    font-size:15px;
}

/*--------------------------------------------------------------
# div-schoolClass
--------------------------------------------------------------*/

#div-schoolClass{
    margin:0 auto;
    width:fit-content;
}

#div-schoolClass h3{
    margin-left: 15px;
}

#div-schoolClass h1,h3{
    font-size:30px;
    color:white;
    font-family: 'Bitstream Vera Serif', sans-serif;
}

/*--------------------------------------------------------------
# div-keywords-majors
--------------------------------------------------------------*/

#div-keywords{
    display:inline-block;
    margin-left:1220px;
    
}

#div-majors{    
    display: inline-block;
    position:absolute;
    margin-left:50px;
}

#div-keywords-majors{
    margin: 0 auto;
    width:1550px;
    margin-top: -100px;
}

#div-keywords-majors h1{
    font-size:25px;
    color:white;
    font-family: 'Bitstream Vera Serif', sans-serif;
}

#div-keywords-majors select{
    background-color:rgba(0, 0, 0, 0.4);
    border-color:black;
    color:white;
    background-image:url("../img/arrow.png");
}

#div-keywords-majors input{
    background-color: rgba(0, 0, 0, 0.4);
    border-color: black;
    color:white ;
}

/*--------------------------------------------------------------
# div-buttons-regenerate 
--------------------------------------------------------------*/

#div-buttons-regenerate{
    width:fit-content;
    margin-left:-200px;
}

/*--------------------------------------------------------------
# div-cal-edits
--------------------------------------------------------------*/

#div-cal-edits{
    width:fit-content;
    margin:0 auto;
}


#form-left-arrow{
    display: inline-block;
}
#form-right-arrow{
    display: inline-block;
}

#calender-date{
    position:relative;
    font-family: 'Bitstream Vera Serif', sans-serif;
    color:white;
    font-weight:bold;
    width:fit-content;
    height:fit-content;
    display: inline-block;
    margin:0;
    margin-right:380px;
    top:6px;
    font-size: 30px;
}

#colorpicker{
    background-color:rgba(0, 0, 0, 0.5);
    width:50px;
    height:30px;
    margin-right:360px;    
}


/*--------------------------------------------------------------
# Calender 
--------------------------------------------------------------*/

#calender{
    /*margin:0 auto;
    margin-top: 10px;*/
    background-color: rgba(0, 0, 0, 0.4);
    width:1400px;
    table-layout: fixed;
    margin-top:-150px;
}

#calender td,tr{
    border-width:2px;
    border-color: black;
    color:white;
    
}

#calender td{
    direction: rtl;
}

.significant-text{
    font-weight:bold;
}


/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

.home-body{
    background-image:url('../img/notebook2.png');
    background-size:100%;
    background-repeat: no-repeat;
    margin:0;
}

.home-body::before{
    content:"";
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header,.header-scrolled{
    width:100%;
    height:90px;
    position: fixed;
    justify-content: center;
    display: flex;
    z-index: 1;
}

.header{
    background: none;   
    transition: all 0.5s;

}

.header-scrolled{
    background-color: rgba(0, 0, 0, 0.7);  
    transition: all 0.5s;
}

#header-title{
    font-family: 'Magical Mystery Tour', sans-serif;
    color:white;
    position:relative;
    width:fit-content;
    left:-500px;
}

#header-a{
    font-family: 'Eighty Percent Caps', sans-serif;
    color:white;
    position:relative;
    font-size:25px;
    text-decoration: none;
    transition: all 0.5s;
    left:500px;
    top:10px;
}
#header-a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top:50px;
    background-color: #0b54c378;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

#header-a:hover::before {    
    transform: scaleX(1);
}



